@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body{
  background-color: black;
  color: white;
}

.join_room{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
  gap: 1rem;
}

.join_room input{
  height: 40px;
  width: 300px;
  outline: none;
  font-size: 20px;
  font-family: "Sofadi One", system-ui;
  font-weight: bold;
  padding-left: 10px;
  
}

.join_room button{
  width: 315px;
  height: 40px;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: brown;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.chat_container{
  height: 600px;
  width: 400px;
  margin: auto;
  text-align: center;
  
  
}

.chat_box{
  height: 500px;
  background-color: #312231;
  position: relative;
  border: 1px solid rgb(230, 192, 23);
}

.chat_body{
  position: absolute;
  bottom: 0;
  /* width: 100%; */
}

.chat_body input{
  width: 350px;
  height: 40px;
  outline: none;
  font-size: 20px;
  font-family: "Sofadi One", system-ui;
  font-weight: bold;
  /* padding-left: 10px; */
}

.chat_body button{
  width: 40px;
  height: 47px;
  /* margin: 0; */
  padding: 10;
  border: none;
  background-color: rgb(127, 19, 229);
  color: white;
}

.message_content{
  display: flex;

}

#other{
  justify-content: flex-end;

}


#you{
  justify-content: flex-start;
}

#y{
  display: flex;
  background-color: blue;
  padding: 1px;
  width: 80%;
  border-radius: 5%;
  flex-wrap: wrap;
}

#b{
  /* margin: auto; */
  background-color: rgb(0, 255, 170);
  padding: 10px;
  border-radius: 5%;
  

}

.msg_details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.auto-scrolling-div::-webkit-scrollbar{
  display: none;
}

.user-message{
  word-wrap: break-word;
}